In [1]:
#import pandas and check the version
import pandas as pd
pd.__version__

'1.2.4'

In [2]:
#Create a series from a list, numpy array and dict? Create a pandas series from each of the items below: a list, numpy and a dictionary
import numpy as np
myarr = np.arange(26)

In [3]:
myarr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [5]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
mydict = dict(zip(mylist, myarr))

In [6]:
mylist

['a',
 'b',
 'c',
 'e',
 'd',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [7]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [8]:
# Create a Series from a list, numpy array and dictionaries
x=pd.Series(mylist)   
y=pd.Series(myarr)
z=pd.Series(mydict)

In [9]:
x

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [ ]:
#How to convert the index of a series into a column of a dataframe?

In [10]:
mylist = list('abcedfghijklmnopqrstuvwxyz')

In [12]:
myarr = np.arange(26)

In [13]:
mydict = dict(zip(mylist, myarr))

In [15]:
ser = pd.Series(mydict)
modified = ser.reset_index()

In [17]:
modified

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [18]:
#combine many series to form a dataframe
df=pd.concat([x,y])
df.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [22]:
#assign name to the series’ index
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2=ser.rename("alphabets")
ser2.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [23]:
#get the items of series A not present in series B

A = pd.Series([1, 2, 3, 4, 5])
B = pd.Series([4, 5, 6, 7, 8])
result = A[~A.isin(B)]
result.head()

0    1
1    2
2    3
dtype: int64

In [26]:
#get the items not common to both series A and series B

A = pd.Series([1, 2, 3, 4, 5])
B = pd.Series([4, 5, 6, 7, 8])
C = pd.Series(np.union1d(A, B)) 
D = pd.Series(np.intersect1d(A, B)) 
result = C[~C.isin(D)]
result.head()

0    1
1    2
2    3
5    6
6    7
dtype: int64

In [27]:
#get the minimum, 25th percentile, median, 75th, and max of a numeric series
ser = pd.Series(np.random.normal(10, 5, 25))
result = np.percentile(ser, q=[0, 25, 50, 75, 100])
result

array([-2.18410795,  7.92680404,  9.71903616, 12.57920489, 17.14413161])

In [28]:
ser

0      7.499309
1     12.579205
2     15.307841
3     17.144132
4      9.654744
5     14.226626
6      5.466424
7      8.368194
8     13.891217
9      9.719036
10     2.036023
11    11.528350
12     5.236887
13     8.564511
14     8.978566
15    11.441021
16    -2.184108
17     9.018130
18     7.926804
19    10.529153
20    12.806370
21    10.309885
22     9.757716
23    14.537639
24    -2.004196
dtype: float64

In [29]:
#get frequency counts of unique items of a series
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
result = ser.value_counts()
print(result)

d    6
a    5
e    5
c    3
f    3
b    3
h    3
g    2
dtype: int64

In [30]:
#keep only top 2 most frequent values as it is and replace everything else as ‘Other’
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 2    6
4    4
1    2
dtype: int64

0         4
1         4
2         2
3         4
4         2
5     Other
6         2
7         2
8     Other
9         2
10        4
11        2
dtype: object

bin a numeric series to 10 groups of equal size? Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input

ser = pd.Series(np.random.random(20)) Desired Output

First 5 items 0 7th 1 9th 2 7th 3 3rd 4 8th dtype: category Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [32]:
ser = pd.Series(np.random.random(20))
categories=["1st","2nd","3th","4th","5th","6th","7th","8th","9th","10th"]
q=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
df = pd.qcut(ser,q, categories)
df.head()

0    9th
1    6th
2    3th
3    8th
4    1st
dtype: category
Categories (10, object): ['1st' < '2nd' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [33]:
#convert a numpy array to a dataframe of given shape? Reshape the series ser into a dataframe with 7 rows and 5 columns
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
df.head()

   0  1  2  3  4
0  6  1  5  6  2
1  2  6  6  5  8
2  9  8  9  8  5
3  5  4  8  7  4
4  8  3  4  8  8

In [34]:
#find the positions of numbers that are multiples of 3 from a series
ser = pd.Series(np.random.randint(1, 10, 7))     
result = ser[ser % 3 == 0]
result

1    9
5    9
dtype: int32

In [35]:
#extract items at given positions from a series
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 2, 10, 14, 21]
df = ser.take(pos)
df

0     a
2     c
10    k
14    o
21    v
dtype: object

In [38]:
#stack two series vertically and horizontally
A = pd.Series(range(5))
B = pd.Series(list('abcde'))
df = pd.concat([A, B],axis=1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [39]:
#convert the first character of each element in a series to uppercase
ser = pd.Series(['how', 'to', 'kick', 'ass?'])      
df=ser.str.capitalize()   
df

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [40]:
#compute difference of differences between consequtive numbers of a series
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]